/* Dropdown4.css */

/* Style the dropdown container */
.dropdown4 {
    width: fit-content;
  }
  
  /* Style the dropdown control */
  .dropdown4 .Dropdown-control {
    background-color: var(--black-color);
    color: var(--primary-color);
    border: none; /* Remove any border */
  }
  
  /* Style the dropdown options */
  .dropdown4 .Dropdown-menu {
    background-color: var(--black-color);
    color: var(--primary-color);
    border: none;
  }
  
  /* Style the dropdown options */
  .dropdown4 .Dropdown-menu .Dropdown-option{
    color: var(--primary-color);
  }

  .dropdown4 .Dropdown-menu .Dropdown-option:hover{
    background-color: var(--black-color);
  }

  .Dropdown-option.is-selected {
    background-color: var(--black-color);
  }
  
  /* Style the placeholder text */
  .dropdown4 .Dropdown-placeholder {
    color: var(--primary-color);
  }
  
  .dropdown4 .Dropdown-arrow{
    right: 35px;
    border-color: var(--primary-color) transparent transparent;
  }